/*==================== colors ====================*/
$whiteFirst: #f3f7fe;
$violet: #38166d;
$blue: #4670fa;
$blueTransparent: rgba(19, 59, 125, 0.4);
$whiteTransparent: rgba(255, 255, 255, 0.2);
$whiteSecond: #f9fbff;
$lightViolet: #d3bbff;
$VioletSecond: #9066c6;
/*==================== gradient ====================*/
$btnGradient: linear-gradient(180deg, #5d63fc 0%, #3c07d6 100%);
